<div class="nested-fields">
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
 
  <div class="field">
    <%= f.label :referência %>
    <%= f.text_field :referencia %>
  </div>
 
  <%= link_to_remove_association "Remover E-mail", f %>
 
  <br><br><br>
</div>