<div class="nested-fields">
  <div class="field">
    <%= f.label :ddd %>
    <%= f.text_field :ddd %>
  </div>
 
<div class="field">
    <%= f.label :telefone %>
    <%= f.text_field :numero %>
  </div>

  <div class="field">
    <%= f.label :referência %>
    <%= f.text_field :referencia %>
  </div>
 
  <%= link_to_remove_association "Remover Telefone", f %>
 
  <br><br><br>
</div>